/*#mainnav-bg
{
    height: 40px;
    width: 100%;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    display: block;
    background: #3c3c3c;
}
#top-toolbar-bg {
    position: absolute;
    top: 40px;
    left: 0;
    height: 31px;
    width: 100%;
    background: transparent url(../../images/mainnav_shadow_repeat.png) repeat-x top left;
    margin: 0;
    padding: 0;
    z-index: 1;
}*/
/*#container
{
    background: #FCFCFC;
}*/
.simpleTree { width: 230px !important; overflow-x: hidden !important;}

/*#wrapper {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}*/
/*#footer div.main {
    background-color: #2d2d2d !important;
    background-image: none !important;
}*/

.models3d-block {
    padding: 0;
    margin: 0;
    width: 740px;
    float: right;
}

/*\ models3d top section \*/
.models3d-block > .top { margin: 0; padding: 0; }

/* section title */
.section-title.title {
    font-size: 150%;
    font-weight: bold;
    float: left;
}

.section-title.title {
    display: block;
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
}
.section-title.title span {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
.section-title.title span.separator {
    margin: 0 5px;
    font-size: 95%;
    padding: 2px 0 0;
}
.section-title.title a,
.section-title.title a:link,
.section-title.title a:visited,
.section-title.title a:active {
    display: block;
    float: left;
    color: #000;
    border-bottom: 1px dashed #000;
}
.section-title.title a:hover {
    text-decoration: none;
    color: #b94157;
    border-bottom: 1px dashed #b94157;
}

/* showed pages (i mean it is '1-20 from 60') */
.models3d-block > .top .pages-showed {
    color: #aaa;
    font-size: 95%;
    margin: 0 0 0 30px;
    padding: 4px 0 0;
    float: left;
}
.models3d-block > .top .pages-showed .showed {}
.models3d-block > .top .pages-showed .showed-from { color: #777; }
.models3d-block > .top .pages-showed .total-pages {}

/* filter */
.models3d-block > .top .filter {
    float: right;
    margin-right: 30px;
}
.models3d-block > .top .filter .label {
    display: block;
    float: left;
}

/*\ models3d middle section \*/
.models3d-block > .mid { margin: 30px 0; padding: 0; }
