{% extends 'base_with_mainnav.html' %}
{% load i18n %}
{% load debug_sql %}

{% block container %}

  {# include 'layouts/catalog_panel.html' #}
	
  <div id="mainbody">
    <div class="main clearfix">
	  
	  <div id="main">
	    <div class="main clearfix">
	      {% block navigation_bar %}<div id="navbar" class="clearfix"><ul>{%block navbar %}{%endblock%}</ul></div>{% endblock %}

	      {% block content %}{% endblock %}
	    </div>
	  </div><!-- end #main -->
    </div>
  </div><!-- end #mainbody -->
{% endblock %}
