.cart-title {
    padding: 0 0 0.8em;
}
#cart-wrapper {
     position: relative;
     margin: 0;
     padding: 0;
}

#customer-cart {
    margin: 0;
    padding: 0;
    width: 790px;
}

#cart-right-bar {
     position: absolute;
     width: 200px;
     top: 0;
     right: 0;
     height: 100%;
     margin: 0;
     padding: 0;
}

#cart-summary {
    position: fixed;
    height: 130px;;
    width: 200px;
    border: 1px solid #3c3c3c;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.cart-summary .header {
    width: 100%;
    background: #3c3c3c;
    color: #fff;
    padding: 0.3em 0;
    margin: 0;
}
.cart-summary .header h3.title {
    padding-left: 0.8em;
    font-weight: normal;
}
.cart-summary .cart-total ul {
    list-style: none;
    width: 100%;
}
.cart-summary .cart-total ul li {
    float: left;
    clear: both;
}
.cart-summary .cart-total ul li.checkout-now {
    text-align: center;
    padding: 1.7em 0 0;
    width: 100%;
}
.cart-summary .cart-total ul li.checkout-now a.button {
    border: 1px solid green;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background: green;

    padding: 0.4em 0.9em;
}

.cart-total {
    border: 1px solid #3c3c3c;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    background: #3c3c3c;
    color: #fff;
    font-size: 130%;
    font-weight: bold;
    margin: 1em 0 0;
    padding: 0.3em 0;
    width: 790px;
    float: left;
    clear: both;
    text-align: right;
}
.cart-total .label {}
.cart-total .value { padding-right: 1.2em; }

.cart-summary .cart-total {
    border: none;
    background: none;
    color: #3c3c3c;
    font-size: 100%;
    margin: 0;
    padding: 0.6em;
    width: auto;
    float: none;
    clear: none;
    text-align: left;
}
.cart-summary .cart-total .label {
    color: #999;
    font-size: 100%;
    clear: both;
    float: left;
}
.cart-summary .cart-total .value {
    font-weight: bold;
    color: #3c3c3c;
    font-size: 130%;
    clear: both;
    float: left;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.cartblock {
    border: 1px solid #3c3c3c;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.cartblock .cart-section-title {
    margin: 1em 0 0 2.2em;
    padding: 0;
    clear: both;
    float: left;
}
.cartblock .cart-section-title h3.title {
    font-size: 140%;
    font-weight: bold;
    
}
.cartblock .cartitems {
    float: left;
    clear: both;
    margin: 0.9em 0 0;
    padding: 0 0.8em 0.8em;
}
.cartblock .cart-subtotal {
    float: left;
    clear: both;
    margin: 0.9em 0 0;
    padding: 0.3em 0;
    border-top: 1px solid #3c3c3c;
    /*background-color: #3c3c3c;*/
    width: 100%;
    /*color: #fff;*/
    font-weight: bold;
    font-size: 115%;
    text-align: right;
}
.cartblock .cart-subtotal .label {}
.cartblock .cart-subtotal .value {
    padding-right: 1.2em;
}