.episodes.overlay-content { margin: 20px 0 0; padding: 0; }
.episodes.overlay-content .textAlignCenter { text-align: center; }

/* columns */
.episodes.overlay-content ul.columns 
{ 
    margin: 0; 
    padding: 0; 
    list-style: none;
    display: block;
    clear: both;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #888;
}
.episodes.overlay-content ul.columns > li
{
    float: left;
    width: 100px;
    margin: 0;
    padding: 0;
    background: none;
}
.episodes.overlay-content ul.columns > li a,
.episodes.overlay-content ul.columns > li a:active,
.episodes.overlay-content ul.columns > li a:visited,
.episodes.overlay-content ul.columns > li a:link 
{
    display: block;
    padding: 2px;
}

.episodes.overlay-content ul.columns > li a:hover { text-decoration: none; }

.episodes.overlay-content ul.columns > li a span,
.episodes.overlay-content ul.columns > li a:active span,
.episodes.overlay-content ul.columns > li a:visited span,
.episodes.overlay-content ul.columns > li a:link span 
{
    font-size: 108%;
    color: #fff;
    font-weight: bold;
}

.episodes.overlay-content ul.columns > li a:hover span 
{
    color: #b94157;
    border-bottom: 1px dashed #b94157;
}

/* episode */
.episodes.overlay-content ul.episode 
{
    margin: 0; 
    padding: 0; 
    list-style: none;
    display: block;
    clear: both;
    background: #666;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
}
.episodes.overlay-content ul.episode.last {}

.episodes.overlay-content ul.episode > li 
{
    float: left;
    width: 100px;
    margin: 0;
    padding: 0;
    background: none;
    height: 29px;
    line-height: 29px;
    vertical-align: middle;
}

.episodes.overlay-content ul.episode > li a,
.episodes.overlay-content ul.episode > li a:link,
.episodes.overlay-content ul.episode > li a:visited,
.episodes.overlay-content ul.episode > li a:active {}

.episodes.overlay-content ul.episode > li a:hover { text-decoration: none; }

.episodes.overlay-content ul.episode > li a span,
.episodes.overlay-content ul.episode > li a:link span,
.episodes.overlay-content ul.episode > li a:visited span,
.episodes.overlay-content ul.episode > li a:active span 
{
    color: #fff;
}

.episodes.overlay-content ul.episode > li a:hover span {}

.episodes.overlay-content ul.episode > li a span.less {}

.episodes.overlay-content ul.episode > li a.more span, 
.episodes.overlay-content ul.episode > li a.more:active span,
.episodes.overlay-content ul.episode > li a.more:visited span,
.episodes.overlay-content ul.episode > li a.more:link span
{
    margin-top: 6px;
    float: right;
    width: 16px;
    height: 16px;
    display: block;
    background: url(./ui-icons_ffffff_256x240.png) no-repeat -16px -144px;
}
.episodes.overlay-content ul.episode > li a.more:hover span {
    background: url(./ui-icons_0073ea_256x240.png) no-repeat -16px -144px;
}

.episodes.overlay-content ul.episode.hover { background: #999; }
.episodes.overlay-content ul.episode > li:first-child a span.play-video-button { display: none; }
.episodes.overlay-content ul.episode.hover > li:first-child a,
.episodes.overlay-content ul.episode.hover > li:first-child a span.play-video-button
{
    display: block;
    width: 100%;
    height: 100%;
}
.episodes.overlay-content ul.episode.hover > li:first-child a span.play-video-button
{
    background: url(../../images/play_button_24x24.png) no-repeat center center;
}
.episodes.overlay-content ul.episode.hover > li:first-child a span.order { display: none; }

/* scroll content */
.vertical-scroll.scroll-wrapper
{
    position: relative;

}
.scroll-wrapper .scroll-pane
{
/*    overflow: hidden;*/
    background: #666;
}
.scroll-wrapper .scroll-pane .scroll-content
{
    position: relative;
    margin: 0;
    padding: 0;
}
.scroll-wrapper .scrollbar 
{
    height: 119px;
    width: 6px;
    position: absolute;
    right: 1px;
    top: 0;
}
.scroll-wrapper .scrollbar .scroll-bg
{
    background: #444;
    width: 6px;
    height: 100%;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    z-index: 50;
}
.scroll-wrapper .scrollbar .scroller
{
    background: #C3532D;
    width: 6px;
    height: 20px;
    right: 0px;
    top: 0;
    position: absolute;
    z-index: 51;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* summary */
.episodes.overlay-content div.summary 
{ 
    margin: 0;
    padding: 2px 0;
    width: 620px; 
    background: #888;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/*\ episode preview \*/
.episode-preview 
{
    width: 100%;
    margin: 0;
    padding: 0;
}
.episode-preview .top 
{
    width: 100%;
    background: #888;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin: 30px 0 0;
    padding: 0;
}
.episode-preview .top a.title,
.episode-preview .top a:link.title,
.episode-preview .top a:active.title,
.episode-preview .top a:visited.title 
{
    display: block;
    margin: 0 0 0 10px;
    padding: 4px 0;
}

.episode-preview .top a:hover.title { text-decoration: none; }

.episode-preview .top a.title span,
.episode-preview .top a:link.title span,
.episode-preview .top a:active.title span,
.episode-preview .top a:visited.title span 
{
    font-weight: bold;
    color: #fff;
}

.episode-preview .top a:hover.title span 
{
    color: #b94157;
    border-bottom: 1px dashed #b94157;
}

.episode-preview .description { display: block; padding: 15px; }
.episode-preview .bot 
{
    width: 100%;
    background: #888;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.episode-preview .bot a,
.episode-preview .bot a:link,
.episode-preview .bot a:visited,
.episode-preview .bot a:active 
{
    margin: 0;
    padding: 3px 0;
    display: block;
}

.episode-preview .bot a:hover { text-decoration: none; }

.episode-preview .bot a span,
.episode-preview .bot a:link span,
.episode-preview .bot a:visited span,
.episode-preview .bot a:active span 
{
    font-weight: bold;
    color: #fff;
}

.episode-preview .bot a:hover span 
{
    color: #b94157;
    border-bottom: 1px dashed #b94157;
}

.episode-preview .bot a.back-button
{
    margin-left: 10px;
    float: left;
}

.episode-preview .bot a.episode-button,
.episode-preview .bot a.evideo-button
{
    margin-right: 10px;
    float: right;
}