.price 
{
    margin: 20px 0 15px;
    padding: 0;
    color: #fff;
    position: relative;
    
    float: left;
    
}
.price.small { margin: 0; }
.price.small.cell { margin-top: 5px; }
.price.medium { margin: 0; }

/* label */
.price a.buy 
{
    display: block;
    float: left;
    margin-right: 2px;
    padding: 5px 5px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #3e5cbf;
    line-height: 1;
    min-width: 120px;
    text-align: center;
}

.price a:hover.buy { background: #4d7fdf; }

.price.small a.buy
{
    min-width: 74px;
    width: 74px;
    padding: 0 3px;
    line-height: 18px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.price.medium a.buy
{
    padding: 4px 6px;
}

.price a:hover { text-decoration: none; }

.price a.buy span 
{
    font-size: 16px;
    color: #fff;
}
.price.small a.buy span { font-size: 11px; }
.price.medium a.buy span { font-size: 14px; }

.price a.buy span small
{
    color: #fff;
    font-size: 13px;
}
.price.small a.buy span small { font-size: 12px; }



/* dropdown button */
.price a:hover.dropdown-button { background: #4d7fdf; }

.price a.dropdown-button
{
    display: block;
    height: 26px;
    width: 24px;
    padding: 0 1px;
    float: left;
    background: #3e5cbf;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.price a.collapse-button 
{ 
    background: #443bc1; 
    width: 24px;
    padding-right: 2px;
    padding-left: 0px;
    height:27px; 
    border-bottom-right-radius: 0px;
}

/** small */
.price.small a.dropdown-button
{
    width: 18px;
    height: 16px;
    padding: 2px 0 0;
    border-top-right-radius: 4px;
}
.price.small a.collapse-button
{
    width: 17px;
    height: 19px;
    padding-left: 1px;
    padding-top: 1px;
}

/** medium */
.price.medium a.dropdown-button
{
    height: 16px;
    padding: 3px 4px;
    width: 16px;
    border-top-right-radius: 4px;
}
.price.medium a.collapse-button
{
    padding-top: 3px;
    height: 20px;
}

.price a.collapse-button span,
.price a.expand-button span 
{
    display: block;
    width: 24px;
    height: 26px;
}

.price a.expand-button span
{
    background: url(../../images/content_slider/arrow_down_slider.png) no-repeat center center;
}
.price a.collapse-button span
{
    background: url(../../images/content_slider/arrow_up_slider.png) no-repeat center center;    
}

/** small **/
.price.small a.collapse-button span,
.price.small a.expand-button span
{
    width: 16px;
    height: 16px;
}
.price.small a.collapse-button span
{
    background: url(ui-icons_ffffff_256x240.png) no-repeat 0px -16px;
}
.price.small a.expand-button span
{
    background: url(ui-icons_ffffff_256x240.png) no-repeat -64px -16px;
}

/** medium **/
.price.medium a.collapse-button span,
.price.medium a.expand-button span
{
    width: 16px;
    height: 16px;
}
.price.medium a.collapse-button span
{
    background: url(../../images/content_slider/arrow_up_slider.png) no-repeat center center;    
}
.price.medium a.expand-button span
{
    background: url(../../images/content_slider/arrow_down_slider.png) no-repeat center center;
}


/* operations */
.price ul.operations 
{
    display: block;
    margin: 0;
    padding: 0;
    min-width: 158px;
    width: 100%;
    font-size: 12px;
    position: absolute;
    z-index: 100;
    top: 27px;
    left: 0;
    list-style: none;
/*    background: #3e5cbf;*/
    background: #443bc1;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;    
    line-height: 1;
}
.price ul.operations.hidden { display: none !important; }
.price ul.operations.visible { display: block !important; }

.price.small ul.operations 
{ 
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    top: 19px;
    z-index: 1000;
    left: auto;
    right: 0;
    min-width: auto;
    text-align: left;
}
.price.medium ul.operations 
{ 
    top: 23px;
    text-align: left;
    min-width: 154px;
}

.price ul.operations li 
{
    display: block;
    line-height: 1.5;
}
.price.small ul.operations li
{
    height: auto;
}
.price ul.operations li:first-child { padding-top: 4px; }
.price ul.operations li a 
{
    display: block;
    padding: 0 4px 0 14px;
}
.price ul.operations li a:hover { text-decoration: none; }
.price ul.operations li a span 
{
    color: #fff;
}

.price ul.operations li.last
{
    padding-bottom: 4px;
}
.price ul.operations li.separator
{
    padding: 3px;
}
.price ul.operations li.separator span
{
    display: block;
    border-bottom: 1px solid #fff;
}

.price ul.operations li.hover
{
    background: #4d7fdf;
}
.price ul.operations li:first-child.hover
{
    border-top-left-radius: 6px;
}
.price.small ul.operations li:first-child.hover
{
    border-top-left-radius: 4px;
}
.price ul.operations li.last.hover
{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.price.small ul.operations li.last.hover
{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}