body {
  background: #333 url(/static/images/stub/background_333333.png) repeat 0 0 !important;
}

#wrapper {
  width: 838px !important;
  margin: 100px auto 0;
  padding: 0;
  clear: both;
  position: relative;
}
div.private-box {
  width: 838px !important;
  margin: 0 auto;
  position: relative;
}
.spot {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: -1;
  background: url(/static/images/stub/spot.png) no-repeat 0 0;
  top: -170%;
  left: 0;
}
.line {
  width: 838px;
  height: 80px;
  display: block;
  margin: 0;
  padding: 0;
  background: url(/static/images/stub/line.png) no-repeat 0 0;
}

.follow-us {
  width: 289px;
  height: 40px;
  display: block;
  background: url(/static/images/stub/follow_us.png) no-repeat 0 0;
  margin: 80px 115px 0 0px;
  padding: 1px 0 0;
  float: right;
}
.follow-us a {
  color: #000;
  font-size: 18px;
  font-family: "Trebuchet MS",Arial,sans-serif;
  font-style: italic;
  text-decoration: none;
  display: block;
  margin: 5px 0 0 75px;
}
.follow-us a:hover,
.follow-us a:active,
.follow-us a:focus { color: #E51A9B; }

.reset-password,
.registration,
.sign-in {
  width: 355px;
  /*height: 220px;*/
  display: block;
  margin: 80px 0 0 85px;
  padding: 1px 0 0;
  float: left;
}
.reg__row,
.sign-in__row {
  padding: 0;
  margin: 0 0 5px 0;
  display: block;
  float: left;
  clear: both;
}
.reg__help {
  color: #aaa677;
  font-size: 14px;
}
.reg__hspacer,
.sign-in__hspacer {
  display: block;
  float: left;
  clear: both;
  height: 12px;
}
.reset-password label,
.registration label,
.sign-in label {
  color: #fcfcfc;
  font-size: 14px;
  font-family: "Trebuchet MS",Arial,sans-serif;
}
.reg__field,
.sign-in .signin__field {
  padding: 2px 20px 2px 6px;
  border: 1px solid #fcfcfc;
  width: 200px;
  background-color: #3c3c3c;
  color: #fcfcfc;
  font-size: 14px;
  font-family: "Trebuchet MS",Arial,sans-serif;
}
.reg__button,
.signin__button {
  width: 120px;
  height: 39px;
  line-height: 39px;
  overflow: hidden;
  text-align: left;
  padding: 2px 24px 2px 12px;
  background: transparent url(/static/images/enter_btn.png) no-repeat top right;
  border: none;
  font-size: 14px;
  font-weight: bold;
}
.reg__button {
  height: 37px;
  line-height: 37px;
  vertical-align: middle;
  padding: 0;
  text-align: center;
  background: transparent url(/static/images/reg_button.png) repeat top right;
}
.button__link {
  margin-left: 20px;
  text-decoration: underline;
  color: #fcfcfc;
  cursor: pointer;
}
h2.title {
  color: #fcfcfc;
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.description {
  float: right;
  width: 255px;
  text-align: right;
  margin: 90px 115px 0 0;
  padding: 1px 0 0;
  color: #ccc;
  font-size: 14px;
  font-family: "Trebuchet MS",Arial,sans-serif;
  font-style: italic;
}
.copyright {
  display: block;
  float: right;
  clear: both;
  margin: 40px 115px 0 0;
  color: #999;
  font-size: 12px;
  font-family: "Trebuchet MS",Arial,sans-serif;
  text-align: right;
  padding: 1px 0;
  white-space: nowrap;
}
.no-display {
  display: none !important;
}
