/*\ slider block \*/
.content-slider-block {
    margin: 20px 0;
    padding: 0;
    width: 100%;
    position: absolute;
    left: -5px; /* -5px */
    top: 170px;
    z-index: 130;
}
.content-slider-block div.main { position: relative; }

.content-slider-block div.label {
    position: absolute;
    left: 6px;
    top: -23px;
    margin: 0;
    padding: 0;
    display: block;
    z-index: 130;
    background: transparent url(../images/content_slider/label_l_dark.png) no-repeat top left;
}
.content-slider-block div.label a {
    background: transparent url(../images/content_slider/label_r_dark.png) no-repeat top right;
    z-index: 130;
    height: 30px;
    display: block;
    margin-left: 10px;
    padding-right: 10px;
    line-height: 1;
    font-size: 100%;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    color: #fff;
    font-weight: normal;
}
.content-slider-block div.label a:hover,
.content-slider-block div.label a:link,
.content-slider-block div.label a:visited,
.content-slider-block div.label a:active {
    text-decoration: none;
}

.content-slider-block div.label a span {
    padding-top: 10px;
    display: block;
}
.content-slider-block div.label a:hover {
    color: #b94157;
}
.content-slider-block div.label a:hover span {
    text-decoration: underline;
}

.content-slider-block div.label a span.close-icon,
.content-slider-block div.label a span.arrow-down-icon {
    padding-right: 20px;
    padding-bottom: 4px;
}

.content-slider-block div.label a span.close-icon {
    background: transparent url(../images/content_slider/close_button_slider.png) no-repeat right 10px;
}
.content-slider-block div.label a:hover span.close-icon {
    background: transparent url(../images/content_slider/close_button_hover_slider.png) no-repeat right 10px;
}

.content-slider-block div.label a span.arrow-down-icon {
    background: transparent url(../images/content_slider/arrow_down_slider.png) no-repeat right 10px;
}
.content-slider-block div.label a:hover span.arrow-down-icon {
    background: transparent url(../images/content_slider/arrow_down_hover_slider.png) no-repeat right 10px;
}

.content-slider-block .top,
.content-slider-block .mid,
.content-slider-block .bot {}

.content-slider-block .shadow-top,
.content-slider-block .shadow-bottom {
    height: 10px;
    position: relative;
    margin: 0 10px;
}

.content-slider-block .shadow-tl,
.content-slider-block .shadow-tr,
.content-slider-block .shadow-bl,
.content-slider-block .shadow-br {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
}

.content-slider-block .shadow-tl,
.content-slider-block .shadow-bl { left: -10px; }

.content-slider-block .shadow-tr,
.content-slider-block .shadow-br { right: -10px; }

.content-slider-block .shadow-top {
    background: transparent url(../images/content_slider/shadow_t_dark.png) repeat-x top left;
}
.content-slider-block .shadow-tl {
    background: transparent url(../images/content_slider/shadow_tl_dark.png) no-repeat top left;
}
.content-slider-block .shadow-tr {
    background: transparent url(../images/content_slider/shadow_tr_dark.png) no-repeat top right;
}

.content-slider-block .shadow-bottom {
    background: transparent url(../images/content_slider/shadow_b_dark.png) repeat-x top left;
}
.content-slider-block .shadow-bl {
    background: transparent url(../images/content_slider/shadow_bl_dark.png) no-repeat bottom left;
}
.content-slider-block .shadow-br {
    background: transparent url(../images/content_slider/shadow_br_dark.png) no-repeat bottom right;
}

.content-slider-block .shadow-left,
.content-slider-block .shadow-right {}

.content-slider-block .shadow-left {
    background: transparent url(../images/content_slider/shadow_l_dark.png) repeat-y top left;
    padding-left: 10px;
}
.content-slider-block .shadow-right {
    background: transparent url(../images/content_slider/shadow_r_dark.png) repeat-y top right;
    padding-right: 10px;
}

.content-slider-block .slider-wrapper,
.content-slider-block .wrapper { 
    background: #3c3c3c; 
    padding: 3px 5px;
    color: #fff;
}

.content-slider-block .slider-wrapper .top,
.content-slider-block .slider-wrapper .scroll-pane,
.content-slider-block .slider-wrapper .bottom {
    margin: 0;
    padding: 0;
}

.content-slider-block .slider-wrapper .top {}

.content-slider-block .slider-wrapper .top .slider-title,
.content-slider-block .slider-wrapper .top .slider-see-all {
    display: block;
    color: #fff;
    font-size: 100%;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0 0 3px;
    padding: 0;
}
.content-slider-block .slider-wrapper .top .slider-title {
    float: left;
}
.content-slider-block .slider-wrapper .top .slider-see-all {
    float: right;
}
.content-slider-block .slider-wrapper .top .slider-see-all a,
.content-slider-block .slider-wrapper .top .slider-see-all a:active,
.content-slider-block .slider-wrapper .top .slider-see-all a:visited,
.content-slider-block .slider-wrapper .top .slider-see-all a:link {
    color: #fff;
    border-bottom: 1px dashed #fff;
}
.content-slider-block .slider-wrapper .top .slider-see-all a:hover {
    color: #b94157;
    border-bottom: 1px dashed #b94157;
    text-decoration: none;
}

.content-slider-block .bottom .slider-pagination {
    margin-top: 6px;
    position: relative;
    height: 6px;
}
.content-slider-block .bottom .slider-pagination .scroll-bg,
.content-slider-block .bottom .slider-pagination .scroller {
    height: 6px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;    
}
.content-slider-block .bottom .slider-pagination .scroll-bg {
    background: #000;
}
.content-slider-block .bottom .slider-pagination .scroller {
    background: #3E5CBF;
}

.content-slider-block .slider-wrapper .scroll-pane { overflow: hidden; position: relative; color:#fff; }
.content-slider-block .slider-wrapper .scroll-pane ul {
    margin: 0;
    padding: 5px 0;
    display: block;
    clear: both;
    list-style: none;
    list-style-type: none;
    width: 20000px;
    position: relative;
    left: 0;
    top: 0;
}
.content-slider-block .slider-wrapper .scroll-pane ul li {
    display: block;
    float: left;
/*    width: 100px;*/
/*    height: 140px;*/
    margin-right: 18px;
}

.content-slider-block .slider-wrapper .scroll-pane ul li a {}

.content-slider-block .slider-wrapper .scroll-pane ul li a img {
    height: 80px;
}
.content-slider-block .slider-wrapper .scroll-pane ul li.last-item { margin-right: 0px; }