{% load i18n %}

<div class="fm">
    <form action="{% url profile-change-password %}" method="post">
        {% csrf_token %}

        <div class="fm__row">
            <label for="id_new_password1">{{password_change_form.new_password1.label}}</label>
        </div>
        <div class="fm__row">{{password_change_form.new_password1}}</div>

        <div class="fm__row">
            <label for="id_new_password2">...{% trans 'confirmation' %}</label>
        </div>
        <div class="fm__row">{{password_change_form.new_password2}}</div>
        <div class="fm__hspacer"></div>

        <div class="fm__row">
            <input type="button" onclick="return UProfile.change_password(this);"
                    value="{% trans 'Change Password' %}" />
        </div>
    </form>
</div>
