/* IE6 Warning */

#ie6-warning {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
    position: relative;
	font-size: 18px;
	overflow: hidden;
    top: 100px;
    zoom: 1;

/*	background: #fbfdfd;*/
	border: 1px solid #ddd;
	width: 670px;

	background: url(icon-ie.png) no-repeat right 20px;
	padding: 20px 120px 50px 80px;
	margin: 0 auto;
}

#ie6-warning span.note {
    display: block;
	font-weight: bold;
	color: #666;
	margin: 5px 0;
	width: 500px;
}
#ie6-warning span.note p {
    text-align: center;
}

#ie6-warning ul {
	padding-left: 45px;
}

#ie6-warning li {
	display: inline;
	padding: 10px 10px 10px 0;
	float: left;
}

#ie6-warning li a {
	width: 64px;
	height: 66px;
	display: block;
}

#ie6-warning li a.firefox-download {
	background: url(icon_brwoser.png) no-repeat 25% top;
}

#ie6-warning li a.chrome-download {
	background: url(icon_brwoser.png) no-repeat 76% top;
}

#ie6-warning li a.safari-download {
	background: url(icon_brwoser.png) no-repeat 50% top;
}

#ie6-warning li a.opera-download {
	background: url(icon_brwoser.png) no-repeat 102% top;
}

#ie6-warning li a.ie-download {
	background: url(icon_brwoser.png) no-repeat top left;
}

#ie6-warning li a.firefox-download:hover,
#ie6-warning li a.firefox-download:focus,
#ie6-warning li a.firefox-download:active {
	background: url(icon_brwoser.png) no-repeat 	25% bottom;
}

#ie6-warning li a.chrome-download:hover,
#ie6-warning li a.chrome-download:focus,
#ie6-warning li a.chrome-download:active {
	background: url(icon_brwoser.png) no-repeat  76% bottom;
}

#ie6-warning li a.safari-download:hover,
#ie6-warning li a.safari-download:focus,
#ie6-warning li a.safari-download:active {
	background: url(icon_brwoser.png) no-repeat  50% bottom;
}

#ie6-warning li a.opera-download:hover,
#ie6-warning li a.opera-download:focus,
#ie6-warning li a.opera-download:active {
	background: url(icon_brwoser.png) no-repeat  102% bottom;
}

#ie6-warning li a.ie-download:hover,
#ie6-warning li a.ie-download:focus,
#ie6-warning li a.ie-download:active {
	background: url(icon_brwoser.png) no-repeat bottom left;
}

#ie6-warning li a:hover,
#ie6-warning li a:focus,
#ie6-warning li a:active {
	text-decoration: none;
}
