/*\ model3d block \*/
.slider-block .model3d {
    margin: 0 10px 10px 0;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    min-width: 187px;
}
.slider-block .model3d.last-item {
    margin: 0 0 10px;
}

.slider-block .model3d .main {
    background: none;
}

.slider-block .model3d .top,
.slider-block .model3d .mid,
.slider-block .model3d .bot {
    padding: 0 !important;
}

.slider-block .model3d .top .title {
    display: none;
}
.slider-block .model3d .top .title a, 
.slider-block .model3d .top .title a:link, 
.slider-block .model3d .top .title a:visited,
.slider-block .model3d .top .title a:active {}
.slider-block .model3d .top .title a:hover {}

.slider-block .model3d .mid .content { text-align: center; }
.slider-block .model3d .mid .content img { /*height: 140px; */cursor: pointer; }

.slider-block .model3d .bot {
    position: absolute;
    bottom: 0;
    /*background: url(../images/model3d_bottom_bg.png);*/
    overflow: hidden;
}

.slider-block .model3d .bot .button { 
    float: left; 
    border: none; 
    background: none; 
}
.slider-block .model3d .bot .button a { 
    display: block; 
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 110%;
    font-weight: normal;
    color: #fff;
}
.slider-block .model3d .bot .button a:hover,
.slider-block .model3d .bot .button a:link,
.slider-block .model3d .bot .button a:active,
.slider-block .model3d .bot .button a:visited {
    text-decoration: none;
}

.slider-block .model3d .bot .button a span {
    dispaly: block;
    text-decoration: underline;
}

.slider-block .model3d .bot .button a:hover {
    color: #ddadaf;
}

.slider-block .model3d .bot .button a:hover span {
    text-decoration: underline;
}

.slider-block .model3d .bot .button a span.arrow-down-icon {
    background: transparent url(../images/content_slider/arrow_down_slider.png) no-repeat center right;
    padding-right: 20px;
}
.slider-block .model3d .bot .button a:hover span.arrow-down-icon {
    background: transparent url(../images/content_slider/arrow_down_hover_slider_ddadaf.png) no-repeat center right;
}

.slider-block .model3d .bot .more-img {}

.slider-block .model3d .bot .download { float: right; margin:0;}

.slider-block .model3d .bot { height: 22px; width: 100%; padding: 0; margin: 0; }
.slider-block .model3d .bot .model3d-more-button,
.slider-block .model3d .bot .model3d-buy-button {
    position: absolute;
    bottom: 4px;
    margin: 0;
}
.slider-block .model3d .bot .model3d-more-button { left: 4px; }
.slider-block .model3d .bot .model3d-buy-button { right: 4px; }
