/** TODO:
    - change font stack to: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
**/
html, body { width: 100%; }

body {
    background: #FFF none repeat scroll 0 0;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

body#bd {
    background: #FCFCFC;
}

body.fs1 { font-size: 10px; }
body.fs2 { font-size: 11px; }
body.fs3 { font-size: 12px; }
body.fs4 { font-size: 13px; }
body.fs5 { font-size: 14px; }
body.fs6 { font-size: 15px; }

/* normal links */
a { color: #000; text-decoration: none; }

a:hover,
a:active,
a:focus {
    color: #000;
    text-decoration: underline;
}

/* content spacing */
.column p, .column pre, .column blockquote,
.column h1, .column h2, .column h3, .column h4, .column h5, .column h6,
.column ol, .column ul { margin: 15px 0; padding: 0; }

/* headings & titles */
h1 { font-size: 180%; }
h2 { font-size: 150%; }
h3 { font-size: 125%; }
h4 { font-size: 100%; text-transform: UPPERCASE; }
h5 { font-size: 100%; }

.contentheading,
.componentheading,
h1, h2, h3, h4, h5 {
    font-weight: bold;
    line-height: 1.2;
}

h1.componentheading, .componentheading { margin: 0; padding: 0 0 7px; }

.componentheading {
    border-bottom: 1px solid #e6e6e6;
    font-size: 180%;
}

h2.contentheading, .contentheading { margin: 0; padding: 0 0 7px; }

.contentheading { font-size: 200%; }

/* small text **/
small, .small { font-size: 92%; color: #999; }

/* others **/
th { font-weight: bold; padding: 5px; text-align: left; }

td { font-size: 100%; padding: 5px; }

fieldset { border: none; padding: 10px 5px; }

fieldset a { font-weight: bold; }

fieldset.input { padding: 0; }

hr {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #ccc;
    height: 1px;
}

/* form **/
/*form label { cursor: pointer; }*/

input, select, textarea, .inputbox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    padding: 2px 5px;
}

.inputbox { background: #fff; border: 1px solid #ccc; }

.inputbox:hover, .inputbox:focus { background: #ffffcc; }

.button {
    background: #333;
    border: 1px solid #999;
    color: #fff;
    font-weight: bold;
    padding: 2px 5px;
}

.button:hover, .button:focus {}

.checkbox {}

.radio { margin: 0 5px; }

/* columns **/
.col {
    float: left;
    display: block;
    margin: 0;
    padding: 0;
}

.width-30 { width: 30%; }
.width-40 { width: 40%; }
.width-50 { width: 50%; }
.width-60 { width: 60%; }

/* border radius */
.br2, .br4, .br6 {
    border: 1px solid #3c3c3c !important;
/*    behavior: url(/static/css/PIE.htc);*/
}
.br2 {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.br4 {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.br6 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.a__inline,
.a__inline:focus,
.a__inline:active,
.a__inline:visited,
.a__inline:link {
    text-decoration: none !important;
    border-bottom: 1px dotted #3c3c3c;
}
.a__inline:hover {
    text-decoration: none !important;
    border: none;
}

/* =============== Navigation Bars ===================== */
/*#navbar {
    width: 100%;
    color: #333;
    line-height: 90%;
    border: none;
    border-bottom: 1px solid silver;
    margin-bottom: 20px;
}
#navbar ul {
    margin: 1em;
    padding: 0px;
}
#navbar ul>li {
    display: inline;
    list-style: none;
}
#navbar ul>li {
    padding-left: 0.7em;
    padding-right: 0.5em;
    border-left: 1px solid #b0b0b0;
}
#navbar ul>li.first {
    padding-left: 0em;
    border-left: none;
}
*/


/*\ module styles \*/
div.moduletable h3 {
    margin: 0;
    background: none;
    text-indent: 10px;
    text-shadow: 0 1px 0 #e6e6e6;
}

div.moduletable {
    padding: 0 0 10px;
    position: relative;
}

div.module h3 {
    font-size: 100%;
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 15px;
    height: 30px;
    line-height: 30px;
    background: #ccc;
    text-shadow: 0 1px 0 #fff;
}

div.module h3 span {
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    padding-right: 10px;
}

div.module {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}


/*\ main layout divs \*/
.wrap {}
.main {}

.wrapper {
    margin: 0;
    min-width: 1024px;
    color: #333;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}
.menu .content,
.wrapper .container {
    text-align: left;
    margin: 0 auto;
    width: 1000px;
}


/*#container {
    position: relative;
    z-index: 5;
    padding: 0;
    min-height: 420px;
}*/

/*\ mainnav \*/
#mainnav {
    background: #3c3c3c;
    z-index: 9999; /* must less then jgrowl */
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    line-height: 1;
    height: 40px;
}
#mainnav .content {
    padding: 0px 15px;
}

#mainnav #logo {
    width: 105px;
    height: 40px;
    background: url(../images/logo.png) no-repeat;
    position: absolute;
    left: 48%;
    top: 0;
    display: block;
    z-index: 10;
}

ul#cssmenu {
    float: left;
    font-family: "Trebuchet MC",Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 14px;
    height: 27px;
    background: transparent url(../images/cssmenu_top_line.gif) repeat-x top left;
    padding: 0;
    margin: 4px 0 0 8px;
    line-height: 1;
}
ul#cssmenu li {
    overflow: hidden;
    background: none;
    cursor: pointer;
    float: left;
    margin: 0;
    padding: 0;
}

ul#cssmenu li a,
ul#cssmenu li a:active,
ul#cssmenu li a:focus,
ul#cssmenu li a:visited,
ul#cssmenu li a:link,
ul#cssmenu li .menu-item {
    display: block;
    line-height: 1;
    margin: 0;
    color: #fff;
    text-decoration: none;
    padding: 8px 4px 6px;
}

ul#cssmenu li a.active,
ul#cssmenu li a:hover {
    background: url(../images/cssmenu_hover.png) no-repeat top left;
}

ul#cssmenu li a.active:hover,
ul#cssmenu li a.active:active,
ul#cssmenu li a.active:focus,
ul#cssmenu li a.active:visited,
ul#cssmenu li a.active:link { color: #fff; }

ul#cssmenu li .disabled { color: #aaa; cursor: default; opacity: 0.5;}


/*\ user menu \*/
ul#usernav {
    position: absolute;
    top: 28px;
    right: 0;
    display: none;
    width: 100px;
/*    background: transparent url(../images/cssmenu_top_line.gif) repeat-x top left;*/
    padding: 5px 0;
    margin: 4px 8px 0 0;
    line-height: 1;
    z-index: 1001;
    background: #666;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    behavior: url(/static/css/PIE.htc);
}
ul#usernav li { display: block; width: 100%; }

ul#usernav li a:focus,
ul#usernav li a:visited,
ul#usernav li a:link,
ul#usernav li a:active {
    display: block;
    padding: 5px 4px 5px 10px;
    border: none;
    text-decoration: none;
}

ul#usernav li a span {
    font-weight: normal;
    font-size: 90%;
}

ul#usernav li a:hover {
    background: #888;
}



.signin {
    display: block;
    float: right;
    height: 22px;
/*    background: transparent url(../images/cssmenu_top_line.gif) repeat-x top left;*/
    padding: 0;
    margin: 8px 8px 0 0;
    line-height: 1;
}
.signin a {
    display: block;
    padding: 4px 10px 4px;
    color: #fff;
    font-family: "Trebuchet MC",Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 14px;
    background-color: #666;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    behavior: url(/static/css/PIE.htc);
}
.signin a:hover {
    text-decoration: none;
    background-color: #888;
}

.usernav-dropdown {
    height: 22px;
    margin: 8px 8px 0 0;
    float: right;
    padding: 0;
    line-height: 1;
}
.usernav-dropdown .usernav-label-button {
    float: left;
}
.usernav-dropdown .usernav-label-button a {
    display: block;
    padding: 4px 10px 4px;
    color: #fff;
    font-family: "Trebuchet MC",Arial,Helvetica,sans-serif;
    font-size: 14px;
    background: #666;

    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    behavior: url(/static/css/PIE.htc);
}

.usernav-dropdown .usernav-label-button a:hover {
    text-decoration: none;
    background-color: #888;
}

.usernav-dropdown .usernav-expand-button {
    float: left;
    margin-left: 1px;
    padding: 0;
}
.usernav-dropdown .usernav-expand-button a {
    display: block;
    padding: 3px 3px 3px 1px;
    background: #666;

    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    border-radius: 0px 10px 10px 0px;
    behavior: url(/static/css/PIE.htc);
}
.usernav-dropdown .usernav-expand-button a:hover {
    background-color: #888888;
}
.usernav-dropdown .usernav-expand-button a span {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/usernav/arrow_down_ffffff_16x16.png) no-repeat;
}
.usernav-dropdown .usernav-expand-button.active a span {
    background-position: 0px -16px;
}

/*\ top toolbar \*/
#top-toolbar {
    position: absolute;
    top: 40px;
    left: 0;
    height: 31px;
/*    background: transparent url(../images/mainnav_shadow_repeat.png) repeat-x top left;*/
    margin: 0;
    padding: 0;
    line-height: 1;
    z-index: 100;
}

#top-toolbar div.main {}

div.horizontal-button {
    background: transparent url(../images/horizontal_button_bg_l.png) no-repeat top left;
    padding: 0;
    margin: 0;
    line-height: 1;
    display: block;
    float: left;
}

div.horizontal-button a {
    background: transparent url(../images/horizontal_button_bg.png) no-repeat top right;
    display: block;
    height: 26px;
    margin-left: 10px;
}

div.horizontal-button a span.button-label {
    display: block;
    padding: 6px 15px 5px 5px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #bcbcbc;
    text-decoration: none;
}

div.horizontal-button.active {
    background: transparent url(../images/horizontal_button_bg_l_active.png) no-repeat bottom left;
}

div.horizontal-button.active a {
    background: transparent url(../images/horizontal_button_bg_active.png) no-repeat bottom right;
    height: 29px;
    margin-left: 10px;
}

div.horizontal-button.active a span.button-label {
    padding-top: 7px;
    font-size: 14px;
    color: #fff;
}

div.horizontal-button.toggle {
    background: transparent url(../images/horizontal_button_bg_l_toggle.png) no-repeat bottom left;
}
div.horizontal-button.toggle.shadow {
    background: transparent url(../images/horizontal_button_bg_l_toggle_w_top_shadow.png) no-repeat top left;
}

div.horizontal-button.toggle a {
    background: transparent url(../images/horizontal_button_bg_toggle.png) no-repeat bottom right;
    height: 28px;
    margin-left: 3px;
}
div.horizontal-button.toggle.shadow a {
    background: transparent url(../images/horizontal_button_bg_toggle_w_top_shadow.png) no-repeat top right;
}

div.horizontal-button.toggle a span.button-label {
    padding: 7px 8px 5px 5px;
    font-size: 14px;
    color: #fff;
}

div.horizontal-button a:active,
div.horizontal-button a:hover,
div.horizontal-button a:focus,
div.horizontal-button a:link,
div.horizontal-button a:visited {
    text-decoration: none;
}

/*\ shopping panel \*/
div#shopping-panel {
    background: none;/*transparent url(../images/shopping_panel/shopping_panel_bg_l_3e5cbf.png) no-repeat top left;*/
    display: block;
    position: absolute;
    top: 8px;
/*    right: 350px;*/
    right: 183px;
    margin: 0;
    padding: 0;
    z-index: 120;
}
div#shopping-panel a.cart-label {}
div#shopping-panel a.cart-label:link,
div#shopping-panel a.cart-label:focus,
div#shopping-panel a.cart-label:active,
div#shopping-panel a.cart-label:visited {
    background: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #bbb;
    line-height: 1;
    font-size: 14px;
    padding: 4px 10px;
    margin: 0;
    float: left;
}
div#shopping-panel a.cart-label:hover {
    background-color: #888;
    color: #fff;
    text-decoration: none;
}

div#shopping-panel div.main {
/*    background: transparent url(../images/shopping_panel/shopping_panel_bg_3e5cbf.png) no-repeat top right;*/
    padding: 0px;
    margin: 0; /* 0 0 5px;*/
    /* height: 71px; /* 40px (mainnav) + 31px (top-toolbar) */
    height: 27px;
    line-height: 1;
    display: block;
}

div#shopping-panel div.shopping-cart {
/*    background: transparent url(../images/shopping_cart_31x34.png) no-repeat scroll 0px 3px;*/
    margin: 0;
    padding: 0;
/*    height: 40px;*/
}

div#shopping-panel div.shopping-button {
    margin: 0;
    padding: 0;
    height: 31px;
}

div#shopping-panel div.shopping-cart div.content {
    padding: 4px 10px; /* 3px 3px 3px 35px;*/
    margin: 0;
/*    line-height: 1.4;*/
    color: #bbb;
    font-size: 14px;
    background: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

div#shopping-panel div.shopping-button div.content {
    background: none;
    padding: 6px 5px 6px 0px;
    margin: 0;
    text-align: center;
}

div#shopping-panel div.shopping-button div.content a {
    text-decoration: none;
}

div#shopping-panel div.shopping-button div.content a:hover,
div#shopping-panel div.shopping-button div.content a:visited,
div#shopping-panel div.shopping-button div.content a:link,
div#shopping-panel div.shopping-button div.content a:active,
div#shopping-panel div.shopping-button div.content a:focus {
    text-decoration: none;
}

div#shopping-panel div.shopping-button div.content a span.button-label {
    font-family: "Trebuchet MS",Arial,Helvetica,sanf-serif;
    font-size: 14px;
    color: #fff;
}

/*\ toolbar buttons \*/
div#catalog-mode-button {
    float: right;
    margin-right: 18px !important;
}

div#search-mode-button {
    float: right;
    margin-right: 5px !important;
}

div#view-settings-button {
    display: block;
    position: absolute;
    top: 0;
    left: 34%;
}

div#show-search-form-button {
    display: block;
    float: left;
    margin-left: 20px !important;
}

/*\ settings panel \*/
#settings-panel {
    display: block;
    position: absolute;
    top: 40px;
    left: 200px;
    margin: 0;
    padding: 0;
    z-index: 101;
}

#settings-panel div.main {
    width: 700px;
}

#settings-container {
    background: transparent url(../images/mainnav_shadow_repeat.png) repeat-x top left;
/*    height: 200px;*/
}

#settings-container {
    background-color: #fff;
    color: #000;
}

#settings-panel div.shadow-left {
    background: transparent url(../images/settings_panel_l_shadow.png) repeat-y top left;
    padding-left: 12px;
}
#settings-panel div.shadow-right {
    background: transparent url(../images/settings_panel_r_shadow.png) repeat-y top right;
    padding-right: 12px;
}
#settings-panel div.shadow-bottom {
    background: transparent url(../images/settings_panel_b_shadow.png) repeat-x bottom left;
    height: 24px;
    position: relative;
    margin: 0 24px 0px;
}
#settings-panel div.shadow-lb,
#settings-panel div.shadow-rb {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
}
#settings-panel div.shadow-lb {
    background: transparent url(../images/settings_panel_lb_shadow.png) no-repeat bottom left;
    left: -24px;
}
#settings-panel div.shadow-rb {
    background: transparent url(../images/settings_panel_rb_shadow.png) no-repeat bottom right;
    right: -24px;
}

/*\ footer \*/
div#footer {
    margin: 20px 0 0;
    padding: 0;
    border-top: 1px solid #ccc;
}

div#footer div.main {
    padding: 0;
    width: 740px;
    margin: 0 auto;
    position: relative;
    display: block;
/*    min-height: 120px;*/
/*    background: transparent url(../images/mainnav_bg.gif) repeat scroll top left;*/
}
#footer table { width: 100%; border: none; }
#footer table td.r { width: 280px; }
#footer table td.l { padding-left: 25px; }

#footer table td.r a {
    text-decoration: underline;
}
#footer span.copyright { margin-left: 10px; }

#footer table td.l a {
    text-decoration: none;
    border-bottom: 1px dotted #000;
}
#footer table td a:hover {
    text-decoration: none;
    border-bottom: none;
}

div#footer div#brands {
    margin: 0;
    padding: 0;
}

div#footer div#brands ul {
    margin: 0 auto;
    padding: 0;
    width: 706px;
    display: block;
    line-height: 1;
}

div#footer div#brands ul li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

div#footer div#brands ul li a {
    display: block;
    margin: 0 10px;
    padding: 0;
}

div#footer div#brands ul li a:hover,
div#footer div#brands ul li a:link,
div#footer div#brands ul li a:focus,
div#footer div#brands ul li a:visited,
div#footer div#brands ul li a:active { border: none; text-decoration: none; }

div#footer div#brands ul li a img { height: 120px; border: none; }



/*\ search panel \*/
.search-panel {
    position: fixed;
    top: 40px;
    width: 100%;
    height: 76px;
    background: #fcfcfc;
    z-index: 9999;
}

.search-panel > .main {
    padding: 0;
    background: #ededed;
    border-bottom: 1px solid #cbcbcb;
    opacity: 0.3;
}

.search-panel.current-mode > .main { opacity: 1; }
.search-panel.hover > .main { opacity: 1; }
.search-panel.focus > .main { opacity: 1; }
.search-panel.current-mode.hover > .main { opacity: 1; }

div#search-panel div.search-form {
    padding: 15px 0 10px;
    margin: 0 auto;
    width: 650px;
    overflow: hidden;
}

div#search-panel div.search-form div.search-left {
    position: relative;
    width: 508px;
    height: 50px;
    float: left;
}

div#search-panel div.search-form div.search-right { float: left; }

div#search-panel input#search-field {
    width: 490px;
    height: 25px;
    line-height: 1;
    border: 1px solid #d9d9d9;
    /*background: transparent url(../images/search_field_bg.png) no-repeat scroll top left;*/
    /*border: none;*/
    font: normal normal normal 17px/normal arial, sans-serif;
    padding: 1px 7px;
    margin: 0;
    display: block;
    float: left;
}

div#search-panel input#search-button {
    height: 29px;
    cursor: pointer;
    display: block;
    float: left;
    margin: 0px;
    padding: 0px 5px;
    font: normal normal normal 15px/normal arial, sans-serif;
    background: url(../images/gradient.png) repeat-x 0 0;
    border: 1px solid #ccc;
}
div.search-panel input#search-button:active {
    background: #ccc !important;
}

div#search-panel div#search-example {
    position: absolute;
    bottom: 0;
    left: 2px;
    color: #000;
    font-size: 11px;
}
div#search-panel div#search-example a,
div#search-panel div#search-example a:focus,
div#search-panel div#search-example a:visited,
div#search-panel div#search-example a:link,
div#search-panel div#search-example a:active,
div#search-panel div#advanced-search-button a,
div#search-panel div#advanced-search-button a:focus,
div#search-panel div#advanced-search-button a:visited,
div#search-panel div#advanced-search-button a:link,
div#search-panel div#advanced-search-button a:active { text-decoration: underline; }

div#search-panel div#search-example a:hover,
div#search-panel div#advanced-search-button a:hover { text-decoration: none; }

div#search-panel div#advanced-search-button {
    position: absolute;
    bottom: 0;
    right: 2px;
    color: #000;
    font-size: 100%;
}

div#search-toolbar {}

/*div#container div#top-block div#search-toolbar div.main*/
#search-toolbar .main{
    padding: 0;
    background: transparent url(../images/search_toolbar_shadow_bottom.png) repeat-x scroll top left;
    height: 28px;
}

/*\ search panel \*/
div#search-panel {}

/* search result */
div#search-panel div#search-result {
    position: absolute;
    bottom: 0;
    right: 20%;
    font-size: 11px;
}
div#search-panel div#search-result span
{
    color: #000;
}

/*\ search toolbar \*/
#search-toolbar {
    height: 35px;
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 100%;
    z-index: 110;
}



/*\ container \*/
#container {}
#container > .content {
    background: #fcfcfc;
    padding: 80px 0px 12px 130px;
    position: relative;
}

/*\ mainbody \*/
#mainbody {
    margin: 0;
    padding: 0;
    color: #000;
    text-align: left;
    vertical-align: top;
    position: relative;
}

div#mainbody div.main { padding: 0; margin: 0; }

div#mainbody div#main { padding: 0; margin: 0; }

div#mainbody div#main div.main { padding: 0; margin: 0; float: left; }

/*\ body menu \*/
#bodyMenu {
    position: fixed;
    overflow: hidden;
    width: 150px;
    top: 80px;
    z-index: 1000;
    opacity: 0.3;
}
#bodyMenu.current-mode { opacity: 1; }
#bodyMenu.hover { opacity: 1; }
#bodyMenu.current-mode.hover {}

.catalog-menu {
    /*border: 1px solid #3c3c3c;
    border-radius: 4px 4px 6px 6px;
    -webkit-border-radius: 4px 4px 6px 6px;
    -moz-border-radius: 4px 4px 6px 6px;*/
    padding: 0px 5px;
    overflow: hidden;
}
.catalog-menu .simpleTree { display: block; }


#menu-panel { /*margin: 0; padding: 10px 0 0 5px;*/ min-height: 200px; }
#menu-panel div.main {}


/* models3d */
#models3d-block {
    min-height: 400px;
}
#models3d-block .cache {
    display:none;
}
#models3d-block .cache.current {
    display:block;
}
#models3d-block > .cache > .top {
    margin-bottom: 1em;
}


/*\ slideshow block \*/
.slideshow-block {
    margin: 0;
    padding: 0;
}
.slideshow-block div.main {}

.slideshow-block .top,
.slideshow-block .mid,
.slideshow-block .bot {}

.slideshow-block .shadow-top,
.slideshow-block .shadow-bottom {
    height: 6px;
    position: relative;
    margin: 0 6px;
}

.slideshow-block .shadow-tl,
.slideshow-block .shadow-tr,
.slideshow-block .shadow-bl,
.slideshow-block .shadow-br {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 0;
}

.slideshow-block .shadow-tl,
.slideshow-block .shadow-bl { left: -6px; }

.slideshow-block .shadow-tr,
.slideshow-block .shadow-br { right: -6px; }

.slideshow-block .shadow-top {
    background: transparent url(../images/slideshow/slideshow_shadow_t_white.png) repeat-x top left;
}
.slideshow-block .shadow-tl {
    background: transparent url(../images/slideshow/slideshow_shadow_tl_white.png) no-repeat top left;
}
.slideshow-block .shadow-tr {
    background: transparent url(../images/slideshow/slideshow_shadow_tr_white.png) no-repeat top right;
}

.slideshow-block .shadow-bottom {
    background: transparent url(../images/slideshow/slideshow_shadow_b_white.png) repeat-x bottom left;
}
.slideshow-block .shadow-bl {
    background: transparent url(../images/slideshow/slideshow_shadow_bl_white.png) no-repeat bottom left;
}
.slideshow-block .shadow-br {
    background: transparent url(../images/slideshow/slideshow_shadow_br_white.png) no-repeat bottom right;
}

.slideshow-block .shadow-left,
.slideshow-block .shadow-right {}

.slideshow-block .shadow-left {
    background: transparent url(../images/slideshow/slideshow_shadow_l_white.png) repeat-y top left;
    padding-left: 3px;
}
.slideshow-block .shadow-right {
    background: transparent url(../images/slideshow/slideshow_shadow_r_white.png) repeat-y top right;
    padding-right: 3px;
}

.slideshow-block .slideshow-wrapper {
    background: #fff;
    padding: 0;
}

.slideshow-content {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 200px;
}



/*\ model3d block \*/
.model3d {
    margin: 0 10px 10px 0;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    min-width: 150px;
}
.model3d.last-item { }
.model3d.active { z-index: 2000; }
.model3d div.loading {
    width: 42px;
    height: 32px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    border: 1px solid #3c3c3c;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #fcfcfc url(../images/loading.bars.gif) no-repeat 50% 50%;
    opacity: 0.9;
}

.model3d .main {
    background: none; /*#3c3c3c;*/
    border: 1px solid #3c3c3c;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
/*    behavior: url(/static/css/PIE.htc);*/
}

.model3d .badge {
    display: block;
    width: 52px;
    height: 13px;
    margin: 0;
    padding: 0;
    background-image: url(/static/images/badge.png);
    position: absolute;
    top: 5px;
    right: 5px;
}
.model3d .badge.badge_wish {
    background-position: 0px -52px;
    width: 33px;
}

#models3d-block .model3d .top,j
#models3d-block .model3d .mid,
#models3d-block .model3d .bot {
    margin: 0;
    padding: 0;
}

.model3d .top {
/*    height: 6px;*/
}
.model3d .top .title {
    display: block;
    margin-left: 6px;
    color: #3c3c3c; /*#fff;*/
    font-size: 100%;
    font-family: Arial,"Trebuchet MS",sans-serif;
    padding: 4px 0;
    font-weight: normal;
}
.model3d .top .title a,
.model3d .top .title a:link,
.model3d .top .title a:visited,
.model3d .top .title a:active {
    color: #3c3c3c; /* #fff;*/
/*    text-decoration: underline;*/
    border-bottom: 1px dashed #3c3c3c;
}
.model3d .top .title a:hover {
    color: #b94157;
    border-bottom: 1px dashed #b94157;
    text-decoration: none;
}

.model3d .mid .content {
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 140px;
    padding: 0 1px;
    width: 160px;
    height: 140px;
    overflow: hidden;
}
.model3d .mid .content img { max-height: 140px; max-width: 160px; cursor: pointer; }

.model3d .bot {
    /*width: 100%; */
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.model3d .bot .dropdown { margin: 4px; float: left; }
.model3d .bot .dropdown a {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 2px 8px;
    text-decoration: none;
    background: #666;
    display: block;
    float: left;
}
.model3d .bot .dropdown a .label {
    color: #fff;
    border-bottom: 1px dotted #fff;
    float: left;
    padding: 0;
    margin: 0;
    line-height: 1;
}
.model3d .bot .dropdown a .icon {
    background: url(../images/usernav/arrow_down_ffffff_16x16.png) no-repeat -2px -2px;
    width: 10px;
    height: 12px;
    float: left;
    padding: 0;
    margin: 1px 0 0 4px;
}
.model3d .bot .dropdown a:hover {
    background: #888;
    text-decoration: none;
}
.model3d .bot .dropdown a:hover .label {
    color: #3c3c3c;
    border-bottom: 1px dotted #3c3c3c;
}
.model3d .bot .dropdown a.opened .icon {
    background: url(../images/usernav/arrow_down_ffffff_16x16.png) no-repeat -2px -19px;
}

.model3d .bot .dropdown-with-button {
    margin: 4px;
    padding: 0;
    float: right;
}
.model3d .bot .dropdown-with-button a.dropdown-label-button {
    border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -webkit-border-radius: 8px 0px 0px 8px;
    background: #666;
    padding: 2px 2px 2px 6px;
    margin: 0;
    float: left;
    text-decoration: none;
    line-height: 1;
}
.model3d .bot .dropdown-with-button a.dropdown-label-button.active {
    background: #888;
}
.model3d .bot .dropdown-with-button a.dropdown-label-button.disabled {
    display: none;
}

.model3d .bot .dropdown-with-button a.dropdown-label-button .label {
    line-height: 1;
    color: #fff;
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted #fff;
    float: left;
}
.model3d .bot .dropdown-with-button a.dropdown-label-button:hover {
    text-decoration: none;
    background: #888;
}
.model3d .bot .dropdown-with-button a.dropdown-label-button:hover .label {
    color: #3c3c3c;
    border-bottom: 1px dotted #3c3c3c;
}


/** model3d hint button **/
.model3d .bot .dropdown-with-button a.hint-open-button {
    background: #666;
    padding: 0;
    margin: 0;
    float: left;
    text-decoration: none;
}
.model3d .bot .dropdown-with-button a.hint-open-button.active {
    background: #888;
}
.model3d .bot .dropdown-with-button a.hint-open-button .icon {
    background: url(./evideo/ui-icons_ffffff_256x240.png) no-repeat -16px -144px;
    width: 16px;
    height: 16px;
    float: left;
    padding: 0;
    margin: 1px 1px 0px 1px;
}
.model3d .bot .dropdown-with-button a.hint-open-button:hover {
    background: #888;
}
.model3d .bot .dropdown-with-button a.hint-open-button.opened .icon {
    background: url(../images/usernav/arrow_down_ffffff_16x16.png) no-repeat 0px -19px;
}

/** model3d button button  **/
.model3d .bot .dropdown-with-button a.dropdown-label-button.hint-open-button {}
.model3d .bot .dropdown-with-button a.dropdown-label-button.hint-open-button .label {
    margin-top: 2px;
    margin-left: 6px;
}


.model3d .bot .dropdown-with-button a.dropdown-open-button {
    border-radius: 0px 8px 8px 0px;
    -moz-border-radius: 0px 8px 8px 0px;
    -webkit-border-radius: 0px 8px 8px 0px;
    background: #666;
    padding: 2px 0;
    margin: 0 0 0 1px;
    float: left;
    text-decoration: none;
}
.model3d .bot .dropdown-with-button a.dropdown-open-button .icon {
    background: url(../images/usernav/arrow_down_ffffff_16x16.png) no-repeat 0px -2px;
    width: 16px;
    height: 12px;
    float: left;
    padding: 0;
    margin: 1px 2px 0 0;
}
.model3d .bot .dropdown-with-button a.dropdown-open-button:hover {
    background: #888;
}
.model3d .bot .dropdown-with-button a.dropdown-open-button.opened .icon {
    background: url(../images/usernav/arrow_down_ffffff_16x16.png) no-repeat 0px -19px;
}

.model3d .bot .model3d-more-button,
.model3d .bot .model3d-buy-button {
    visibility: visible;
}
.model3d .bot .model3d-more-button.inactive,
.model3d .bot .model3d-buy-button.inactive {
    visibility: hidden;
}

/** model3d context-menu **/
.model3d .bot .dropdown-with-button .dropdown-context-menu {
    display: none;
    position: absolute;
    z-index: 2001;
    top: 183px;
    right: 4px;
    background: #666;
    padding: 5px 0px;
    margin: 3px 0 0 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.model3d .bot .dropdown-with-button .dropdown-context-menu li {}
.model3d .bot .dropdown-with-button .dropdown-context-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
}
.model3d .bot .dropdown-with-button .dropdown-context-menu li a:hover {
    text-decoration: none;
}
.model3d .bot .dropdown-with-button .dropdown-context-menu li a span {
    padding: 2px 10px 2px 4px;
    white-space: nowrap;
    display: block;
}
.model3d .bot .dropdown-with-button .dropdown-context-menu li a:hover span {
    background: #888;
}

.model3d.in-cart .bot .model3d-buy-button .dropdown-label-button,
.model3d.in-cart .bot .model3d-buy-button .hint-open-button,
.model3d.in-cart .bot .model3d-buy-button .dropdown-open-button {
    background: #3c3c3c;
}

/*
.model3d .bot .button { float: left; border: none; background: none; }
.model3d .bot .button a {
    display: block;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 100%;
    font-weight: normal;
    color: #fff;
}
.model3d .bot .button a:hover,
.model3d .bot .button a:link,
.model3d .bot .button a:active,
.model3d .bot .button a:visited {
    text-decoration: none;
}

.model3d .bot .button a span {
    dispaly: block;
    text-decoration: underline;
}

.model3d .bot .button a:hover {
    color: #b94157;
}

.model3d .bot .button a:hover span {
    text-decoration: underline;
}

.model3d .bot .button a span.arrow-down-icon {
    background: transparent url(../images/content_slider/arrow_down_slider.png) no-repeat center right;
    padding-right: 20px;
}
.model3d .bot .button a:hover span.arrow-down-icon {
    background: transparent url(../images/content_slider/arrow_down_hover_slider.png) no-repeat center right;
}

.model3d .bot .more-img {}

.model3d .bot .download { float: right; margin-right: 0px; }
*/

.scroll-pane .scroll-content ul {}
.scroll-pane .scroll-content ul li {
    float: left;
    margin-right: 10px;
}
.scroll-pane .scroll-content ul li.last-item {
    margin-right: 0px;
}



/*\ jGrowl \*/
div.jGrowl div.manilla {
    background-color: #FFF1C2;
    color: navy;
}


/*\ model3d table format-quality \*/
table.model3d-download { margin: 0; padding: 0; border-spacing: 3px; border-collapse: separate; }
table.model3d-download tr,
table.model3d-download td { margin: 0; padding: 0; }

table.model3d-download td.model3d-format,
table.model3d-download th {
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #fff;
    padding: 0 3px;
}
table.model3d-download td.model3d-seperator { width: 8px; border: none; margin: 0; padding: 0; }
table.model3d-download td.model3d-quality {}
table.model3d-download td.model3d-quality a,
table.model3d-download td a,
table.model3d-download td.model3d-quality span,
table.model3d-download td span { padding: 1px 2px; }

table.model3d-download td.model3d-quality a,
table.model3d-download td a {
    border: 1px solid #fff;
    color: #fff;
    display: block;
    text-decoration: underline;
}
table.model3d-download td.model3d-quality a:hover,
table.model3d-download td a:hover {
    border: 1px solid #cc0000;
    text-decoration: none;
}
table.model3d-download td.model3d-quality span,
table.model3d-download td span {
    border: 1px solid #eee;
/*    background-color: #3c3c3c;*/
    color: #eee;
    opacity: 0.1;
    display: block;
}

fieldset.model3d-info {
    border: 1px solid #3c3c3c;
    margin-bottom: 3px;
}
fieldset.model3d-info legend {
    background: #3c3c3c;
    color: #fff;
    padding: 0 4px;
}
table.model3d-info { margin: 0; padding: 0; border-spacing: 3px; border-collapse: separate; }
table.model3d-info th,
table.model3d-info td { margin: 0; padding: 0 3px; }
table.model3d-info th.top {
    border-bottom: 1px solid #3c3c3c;
    padding: 0 5px;
    text-align: center;
}
table.model3d-info th.key {
    border-right: 1px solid #3c3c3c;
    border-bottom: 1px solid #3c3c3c;
    padding-right: 3px;
}
table.model3d-info td { text-align: center; }
table.model3d-info tr.even td { background-color: #bbbbbb; }

.highslide-container {
    z-index:10003 !important;
}
ul.highslide-gallery { overflow: hidden; position: relative; color:#fff; }
ul.highslide-gallery {
    margin: 0;
    padding: 5px 0;
    display: block;
    clear: both;
    list-style: none;
}
ul.highslide-gallery li {
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
ul.highslide-gallery li a img {
    height: 80px;
}
ul.highslide-gallery li.last-item { margin-right: 0px; }



/** pagination **/
.show-more-wrapper {
    border: 1px solid #ccc;
    height: 30px;
    width: 320px;
    background: #eee;
    text-align: center;
    margin: 0 auto;
}
.show-more-button {
    margin: 0;
    padding: 0;
    vertical-align: top;
    height: 30px;
    cursor: pointer;
    background: url(../images/gradient.png) repeat-x 50% 100%;
    color: #000;
    width: 320px !important;
    border: 0px;
    font: normal normal normal 15px/normal arial, sans-serif;
}
.show-more-button:active { background: #ccc; }

/** context loader **/
.context-loader {
    background: #eee url(../images/metabox_loader.gif) no-repeat;
    background-position: 10px 50%;
    border: 1px solid #cbcbcb;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    color: #666;
    font-weight: bold;
    left: 50%;
    margin-left: -50px;
    padding: 10px 10px 10px 30px;
    position: fixed;
    top: 115px;
    width: 120px;
    z-index: 1001;
}

/** complaint window **/
.complaint-window {
    position: absolute;
    width: 360px;
    height: 278px;
    overflow: hidden;
    background: #eee;
    z-index: 10000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.complaint-window .content {
    width: 332px;
    height: 250px;

    margin: 3px;
    background: #fcfcfc;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    border: 1px solid #ddd;
    padding: 10px;
}
.complaint-email {}
.complaint-email label {
    font-size: 14px;
    font-weight: bold;
    float: left;
    clear: both;
}
.complaint-email input {
    width: 320px;
    border: 1px solid #ddd;
    height: 22px;
    padding: 3px 5px;
    font-size: 16px;
    font-weight: bold;
    float: left;
    clear: both;
}

.complaint-reason {
    width: 100%;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-left: none;
    border-right: none;
    padding: 5px 10px;
    margin: 7px -10px 0;
}
.complaint-reason select {
    width: 320px;
}

.complaint-message {
    margin-top: 7px;
}
.complaint-message textarea {
    width: 320px;
    border: 1px solid #ddd;
    resize: none;
}

.complaint-actions {
    margin-top: 7px;
}

.complaint-button {
    height: 28px;
    background: url(../images/gradient.png) repeat-x 50% 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    font: normal normal normal 15px/normal arial, sans-serif;
}
.complaint-button:active {
    background: #ccc;
}
.complaint-close { float: left; }
.complaint-submit { float: right; }
.error__fld-required { border: 1px solid red !important; }
