div.cp-menu {
    padding: 0;
    margin: 0 20px 0 0;
    width: 180px;
    position: absolute;
    top: 0;
    left: 0;
}
div.cp-menu__top,
div.cp-menu__bottom {
    clear: both;
    background: #3c3c3c;
}
div.cp-menu__body {
    padding: 5px 10px;
    clear: both;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #3c3c3c;
}
div.cp-menu__top {
    height: 6px;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
}
div.cp-menu__bottom {
    height: 26px;
    border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    -webkit-border-radius: 0px 0px 6px 6px;
}


ul.cp-menu__ul {
    display: block;
    margin: 4px 0px;
    padding: 0;
    width: 100%;
}
ul.cp-menu__ul li {}
ul.cp-menu__ul li.title {}
ul.cp-menu__ul li.title span {
    font-weight: bold;
}

ul.cp-menu__ul li.item { padding: 1px 0px; }
ul.cp-menu__ul li.item a,
ul.cp-menu__ul li.item a:active,
ul.cp-menu__ul li.item a:visited,
ul.cp-menu__ul li.item a:focus {
    display: block;
    padding: 2px 0px 1px 10px;
    text-decoration: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: none;
    margin: 0;
}
ul.cp-menu__ul li.item a:hover {
    text-decoration: none;
    border: 1px solid #3c3c3c;
    background: none;
    padding: 1px 0px 0px 9px;
}

ul.cp-menu__ul li.item a.active {
    background-color: #3c3c3c;
    color: #fff;
}

ul.cp-menu__message {}

ul.cp-menu__me { margin: 8px 0px !important; }

ul.cp-menu__history {}

/** body **/
div.cp-body {
    margin: 0 0 0 200px;
    width: 720px;
    padding: 0;
}		    

div.cp-body a.button,
div.cp-body a.button:visited,
div.cp-body a.button:active,
div.cp-body a.button:focus {
    border: none;
    background: none;
    display: inline;
    font-weight: normal;
    border-bottom: 1px dashed #3c3c3c;
    color: #3c3c3c;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
div.cp-body a.button:hover {
    border-color: #b94157;
    color: #b94157;
    text-decoration: none;
}
div.cp-body__block {
    padding: 5px;
    margin-bottom: 1.5em;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #3c3c3c;
}
div.cp-body__block span.title {
    font-weight: bold;
    display: block;
    border-bottom: 1px solid #3c3c3c;
    font-size: 1.2em;
    padding-left: 1.4em;
    margin-bottom: 0.5em;
}


/** profile **/
div.cp-profile {
    padding: 5px;
    margin-bottom: 1.5em;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #3c3c3c;
}
div.cp-profile span.title,
div.cp-order-history span.title,
div.cp-download-history span.title {
    font-weight: bold;
    display: block;
    border-bottom: 1px solid #3c3c3c;
    font-size: 1.2em;
    padding-left: 1.4em;
    margin-bottom: 0.5em;
}

.cp-profile__table { width: 100%; }
.cp-profile__table tr {}
.cp-profile__table tr.odd {}
.cp-profile__table tr.even {}
.cp-profile__table tr th, .cp-profile__table tr td { vertical-align: top; padding: 0.3em 0; margin: 0; }
.cp-profile__table tr th.key { 
  text-align: right;
  font-weight: bold;
  width: 110px;
}
.cp-profile__table tr td.val {
/*  width: 400px;*/
  padding-left: 0.5em;
}

.cp-profile__billing-address .addressblock {
    display: block;
    float: left;
}
.cp-profile__billing-address__change {
    display: block;
    float: left;
    margin-left: 1em;
}

/** order history **/
div.cp-download-history,
div.cp-order-history {
    width: 338px;
    padding: 5px;
    margin-right: 20px;
    border: 1px solid #3c3c3c;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    float: left;
}
div.cp-download-history.last,
div.cp-order-history.last {
    margin-right: 0px;
}

/*** order list ***/
ul.download-history,
ul.order-history {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    width: 100%;
}
ul.download-history li,
ul.order-history li {
    display: block;
    clear: both;
    float: left;
}
li.download-history__more,
li.order-history__more {
    display: block;
    margin-top: 0.5em;
    text-indent: 0.5em;
}
li.download-history__empty,
li.order-history__empty { 
    display: block;
    margin-top: 0.5em;
    text-indent: 0.5em;
}

a.download-history__item,
a.download-history__item:focus,
a.download-history__item:active,
a.download-history__item:visited,
a.order-history__item,
a.order-history__item:focus,
a.order-history__item:active,
a.order-history__item:visited {
    display: block;
    text-decoration: none;
    background: none;
    border: none;
    margin: 0;
    padding: 2px 0px 0px 8px;
}
a.download-history__item:hover,
a.order-history__item:hover {
    text-decoration: none;
    background: #3c3c3c;
    color: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
a.download-history__item span,
a.order-history__item span { 
    display: block;
    float: left; 
    overflow: hidden;
}
span.order-history__item__date {
    width: 70px;
}
span.order-history__item__total {
    width: 85px;
    text-align: right;
    margin-left: 8px;
}
span.order-history__item__status {
    width: 140px;
    margin-left: 8px;
    overflow: hidden;
}

/*** download history ***/
span.download-history__item__date { width: 100px; }
span.download-history__item__name { margin-left: 8px; overflow: hidden; width: 200px; }


/** email update form **/
.cp-profile-form__table {
    width: 100%;
    border: none;
}
.cp-profile-form__table th.key { width: 200px; text-align: right; }
.cp-profile-form__table th.val {}
.cp-profile-form #id_email,
.cp-profile-form #id_old_password,
.cp-profile-form #id_new_password1,
.cp-profile-form #id_new_password2 { width: 200px; }

/** addressbook **/
.cp-addressbook {}
.cp-addressbook span.title {}

.cp-addressbook__toolbar {
    float: left;
    clear: both;
    margin: 0.5em 0 0.5em 0.5em;
}

.cp-addressbook__table { width: 100%; }
.cp-addressbook__table tr {}

tr.even td {
    background-color: #f0f0f0;
}
tr.even td.cp-addressbook__address {
    border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
}
tr.even td.cp-addressbook__address__creditcards {
    border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
}
.cp-addressbook__table tr td {
    vertical-align: top;
}

.cp-addressbook__address { width: 300px; }
ul.cp-addressbook__address__toolbar {
    display: block;
    list-style: none;
    list-style-type: none;
    background: none;
    margin: 0.3em 0 0.3em 4em;
    padding: 0;
    float: left;
}
ul.cp-addressbook__address__toolbar li {
    display: block;
    float: left;
    margin: 0;
    padding: 0px 6px;
    border-left: 1px solid #3c3c3c;
}
ul.cp-addressbook__address__toolbar li.first {
    border-left: none;
    padding-left: 0;
    padding-right: 7px;
}
ul.cp-addressbook__address__toolbar li a.button {}

.cp-addressbook__address__creditcards {}
span.creditcard__list__title {
    display: block;
    float: left;
    clear: both;
    font-weight: bold;
}

.cp-addressbook ul.creditcard__list {
    display: block;
    float: left;
    clear: both;
}
.cp-addressbook ul.creditcard__list li {}
.cp-addressbook li.creditcard__list__empty {}

.cp-addressbook__address span.creditcard__number {}
.cp-addressbook__address span.creditcard__toolbar {}
.cp-addressbook__address span.creditcard__toolbar a.button {}

.cp-addressbook .creditcard__add {
    float: left;
    clear: both;
}


/** payment info **/
.cp-payment-info {}
.cp-payment-info__toolbar {
    float: left;
    clear: both;
    margin: 0.5em 0 0.5em 0.5em;
}

.cp-payment-info__table { width: 100%; }
.cp-payment-info__table tr {}
.cp-payment-info__table tr td { vertical-align: top; }

tr.even td {
    background-color: #f0f0f0;
}
tr.even td.cp-payment-info__creditcard {
    border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
}
tr.even td.cp-payment-info__creditcard__toolbar {
    border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
}

td.cp-payment-info__creditcard { width: 300px; }
td.cp-payment-info__creditcard__toolbar { text-align: left; vertical-align: middle !important; }

ul.cp-payment-info__creditcard__toolbar {
    display: block;
    list-style: none;
    list-style-type: none;
    background: none;
    margin: 0;
    padding: 0;
    float: left;
}
ul.cp-payment-info__creditcard__toolbar li {
    display: block;
    float: left;
    margin: 0;
    padding: 0px 6px;
    border-left: 1px solid #3c3c3c;
}
ul.cp-payment-info__creditcard__toolbar li.first {
    border-left: none;
    padding-left: 0;
    padding-right: 7px;
}
ul.cp-payment-info__creditcard__toolbar li a.button {}

.cp-payment-info__creditcard .creditcardblock tr { margin: 0; padding: 0; line-height: 1; }
.cp-payment-info__creditcard .creditcardblock tr th,
.cp-payment-info__creditcard .creditcardblock tr td { vertical-align: top; }
.cp-payment-info__creditcard .creditcardblock tr th.key { text-align: right; }
.cp-payment-info__creditcard .creditcardblock .addressblock li { padding: 0.3em 0; }

/** payment-info form **/
.cp-payment-info-form {}

.cp-payment-info-form__list {
    display: block;
    float: left;
    clear: both;
    margin: 0.7em 0 1em;
    padding: 0;
}
.cp-payment-info-form__list li {
    display: block;
    float: left;
    clear: both;
    margin: 0.5em 0 0;
    padding: 0;
    vertical-align: middle;
    line-height: 21px;
    width: 100%;
}

.cp-payment-info-form__list li.error {
    background: #ff9494;
    border-radius: 4px;
}
.cp-payment-info-form__list li span.key,
.cp-payment-info-form__list li span.val {
    padding-top: 0.2em;
    float: left;
}
.cp-payment-info-form__list li span.key {
    width: 200px;
    font-weight: bold;
    text-align: right;
    margin-right: 0.5em;
}
.cp-payment-info-form__list li span.val { padding-right: 0.5em; }
.cp-payment-info-form__list li span.error {
    float: left;
    clear: both;
    padding-left: 200px;
}

.cp-payment-info-form__table { }
.cp-payment-info-form__table tr {}

.cp-payment-info-form #id_card_holder { width: 200px; }
.cp-payment-info-form__table tr.error-field th,
.cp-payment-info-form__table tr.error-field td,
.cp-payment-info-form__table tr.error-message th,
.cp-payment-info-form__table tr.error-message td {
    background: #ff9494;
}
tr.error-field th { 
    border-radius: 4px 0px 0px 0px;
    -moz-border-radius: 4px 0px 0px 0px;
    -webkit-border-radius: 4px 0px 0px 0px; 
}
tr.error-field td { 
    border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
    -webkit-border-radius: 0px 4px 0px 0px;
}
tr.error-message th { 
    border-radius: 0px 0px 0px 4px;
    -moz-border-radius: 0px 0px 0px 4px;
    -webkit-border-radius: 0px 0px 0px 4px;
}
tr.error-message td { 
    border-radius: 0px 0px 4px 0px; 
    -moz-border-radius: 0px 0px 4px 0px;
    -webkit-border-radius: 0px 0px 4px 0px;
}


/** addressbook form **/
.cp-addressbook-form__table { width: 100%; }
.cp-addressbook-form__table tr {}
.cp-addressbook-form__table tr th.key {
    text-align: right;
    font-weight: normal;
}
.cp-addressbook-form__table tr th.key.required { font-weight: bold; }
.cp-addressbook-form__table tr td.val {}
.cp-addressbook-form__table tr td.val input { width: 300px; padding: 2px; border: 2px inset; }
.cp-addressbook-form__table tr td.error { padding-top: 0; }