.models3d-bundle-block { padding: 0 10px; }

.module {
    margin-top: 20px;
}

/** poster **/
.module .poster 
{
    display: block;
    padding: 6px 0 16px;
    background: #3c3c3c;
    
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;    
}
.module .poster img { max-width: 200px; }

/** attributes **/
.module .attributes
{
    margin: 10px 0 0;
    padding: 0;
    font-size: 97%;
}