#content ul {
    margin: 0;
    padding: 0;
    float: left;
    font-family: "Trebuchet MC",Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 18px;
}

#content ul li {
    background: none;
    cursor: pointer;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

#content ul li a,
#content ul li a:active,
#content ul li a:focus,
#content ul li a:visited,
#content ul li a:link {
    display: block;
    line-height: 1;
    margin: 0;
    color: #3c3c3c;
    text-decoration: none;
}

ul#cssmenu {
    height: 32px;
    background: transparent url(../../images/cssmenu_top_line.gif) repeat-x bottom left;
    padding: 0 15px;
    margin: 0;
    line-height: 1;
    display: block;
    float: left;
}
ul#cssmenu li {
    overflow: hidden;
    margin-right: 10px;
}
ul#cssmenu li.last-item { margin:0; }

ul#cssmenu li a { padding: 4px 8px 10px; }

ul#cssmenu li a:active,
ul#cssmenu li a:focus,
ul#cssmenu li a:visited,
ul#cssmenu li a:link { color: #3c3c3c; }

ul#cssmenu li a:hover,
ul#cssmenu li a.active {
    background: transparent url(../../images/cssmenu/cssmenu_hover_for_white_bg_rotated.png) no-repeat bottom left;
}

ul#cssmenu li.active {}

ul#cssmenu li a.active:hover,
ul#cssmenu li a.active:active,
ul#cssmenu li a.active:focus,
ul#cssmenu li a.active:visited,
ul#cssmenu li a.active:link,
ul#cssmenu li.active a:hover,
ul#cssmenu li.active a:active,
ul#cssmenu li.active a:focus,
ul#cssmenu li.active a:visited,
ul#cssmenu li.active a:link { color: #3c3c3c; } 
